In [1]:
%%capture 
%run "./utils.ipynb"

In [4]:
clean_df = pd.read_csv('../data/clean_df.csv')
sessions_df = pd.read_csv('../data/sessions_df.csv')
sessions_df.head()

,Unnamed: 0,number of sessions,Dur. (ms),Total UL,Total DL,Total sessions(mb),Social media total volume,Google total volume,Email total volume,Youtube total volume,Netflix total volume,Gaming total volume,Other sources
0,2.040471e+14,1,869844.0,60.456049,78.697597,139.153646,1.546088,9.218647,3.330974,40.940710,28.846230,43.070260,401.360457
1,2.040808e+14,1,877385.0,37.295915,194.828056,232.123971,0.715224,10.438660,1.520771,11.959905,26.592300,178.048738,470.526473
2,2.082001e+14,1,86019.0,53.794658,31.376981,85.171639,3.122781,1.624662,3.657501,19.882439,31.830562,9.124516,515.973704
3,2.082001e+14,1,86254.0,33.583272,392.918313,426.501585,2.577104,13.811478,3.855734,25.657632,27.785852,344.105897,309.610741
4,2.082001e+14,2,573923.0,71.325004,961.767023,1033.092027,3.426716,11.665887,5.564462,13.840201,57.343415,917.684766,1079.435419

In [5]:
engagement_metrics = ['number of sessions','Dur. (ms)','Total sessions(mb) ']

In [ ]:
# Users = df_clean.groupby(['MSISDN/Number'])