In [ ]:
%%capture 
%run "./utils.ipynb"

In [ ]:
clean_df = pd.read_csv('../data/clean_df.csv')
sessions_df = pd.read_csv('../data/sessions_df.csv')
sessions_df.head()

## Find top customers by engagement metric

In [21]:
engagement_metrics = ['number of sessions','duration','Total sessions(mb) ']

In [22]:
merged_df = pd.concat([clean_df,sessions_df], axis=1)
Users = merged_df.groupby(['MSISDN/Number'])

In [32]:
merged_df.head()

,Unnamed: 0,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,...,Total UL,Total DL,Total sessions(mb),Social media total volume,Google total volume,Email total volume,Youtube total volume,Netflix total volume,Gaming total volume,Other sources
0,1970-01-01 00:00:00.000000000,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,...,60.456049,78.697597,139.153646,1.546088,9.218647,3.330974,40.940710,28.846230,43.070260,401.360457
1,1970-01-01 00:00:00.000000001,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,...,37.295915,194.828056,232.123971,0.715224,10.438660,1.520771,11.959905,26.592300,178.048738,470.526473
2,1970-01-01 00:00:00.000000002,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,...,53.794658,31.376981,85.171639,3.122781,1.624662,3.657501,19.882439,31.830562,9.124516,515.973704
3,1970-01-01 00:00:00.000000003,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,...,33.583272,392.918313,426.501585,2.577104,13.811478,3.855734,25.657632,27.785852,344.105897,309.610741
4,1970-01-01 00:00:00.000000004,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,...,71.325004,961.767023,1033.092027,3.426716,11.665887,5.564462,13.840201,57.343415,917.684766,1079.435419

In [57]:
for metric in engagement_metrics:
    grouping = Users[metric].value_counts().sort_index(level=1, ascending=False)[:10]
    print(grouping)

MSISDN/Number  number of sessions
3.367173e+10   18.0                  1
3.367463e+10   17.0                  1
3.366344e+10   17.0                  1
3.368638e+10   16.0                  1
3.368325e+10   15.0                  1
3.360679e+10   15.0                  1
3.366014e+10   13.0                  1
3.378709e+10   12.0                  1
3.376198e+10   12.0                  1
3.376161e+10   12.0                  1
Name: number of sessions, dtype: int64
MSISDN/Number  duration
3.362578e+10   1859337.0    1
               1859328.0    1
3.366496e+10   1823653.0    1
3.362578e+10   1772931.0    1
               1686494.0    1
3.376355e+10   1679814.0    1
               1634983.0    1
3.362578e+10   1600088.0    1
3.366926e+10   1573421.0    1
3.366172e+10   1480875.0    1
Name: duration, dtype: int64
MSISDN/Number  Total sessions(mb)
3.366344e+10   8846.226494            1
3.368325e+10   8514.773963            1
3.367463e+10   8499.620722            1
3.367173e+10   7971.167261            1
3.360679e+10   7891.110608            1
3.368638e+10   7705.862783            1
3.366960e+10   7308.500938            1
3.376161e+10   7132.370514            1
3.376213e+10   6872.018208            1
3.376041e+10   6540.899126            1
Name: Total sessions(mb) , dtype: int64